/*body Start*/
body {
    padding: 0;
    margin: 0 auto;
}
header,main{
    max-width: 85%;
    margin:0 auto;
    font-family: 'Poppins', sans-serif;
}
/*body end*/

/*header start*/
.parent-header{
    background-color: rgb(20, 19, 19);
    color: azure;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 4%;
    border-radius: 30px;
    border: none;
    height: 560px;
    margin-bottom: 6%;
    justify-content: space-evenly;
}
.header-item1{
    width: 80%;
    padding:15%;
    border: none;
}
.header-item1 h1{
    padding: 0;
    margin-top: 2%;
    font-size: 40px;
}
.header-item1 p{
    margin-top: 0;
    padding-top: 0%;
    font-weight: 400;
    font-size: 20px;
}
.header-item1 button{
    font-size: 20px;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: rgb(245, 9, 9);
    color: white;
}
.header-item1 button:hover{
    color: white;
    background-image: linear-gradient(orange,red);
}
.header-item2{
    width: 90%;
    height: 500px;
    align-items:flex-end;
    position:relative;
    top: 10%;
}
.header-item2 img{
    margin-bottom: 0;
    padding-bottom: 0;
    width: 100%;
    height: 100%;

    align-items:flex-end;
}
/*header end*/

/* blog start*/
.container-blog{
    display: flex;
    
}
.box-nav{
    width: 260px;
    height: 260px;
    background-color: rgb(20, 19, 19);
    border-radius: 5%;
    text-align: center;
}
.nav{
    margin:0 auto;
    margin: 20px;
    
}
.nav-btn{
    margin-bottom: 30px;
    width: 180px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: white;
    color: black;
    border: none;
    text-decoration: none;
    display: block

}
.active-btn{
    margin-bottom: 30px;
    width: 180px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: white;
    color: white;
    border: none;
    text-decoration: none;
    display: block
    
}
.nav-btn:hover{
    color: white;
    background-image: linear-gradient(tomato,red);
} 
.box-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 2%;
    column-gap: 2%;
    margin-left: 3%;
}
.grid{
    border-radius: 10px;
    border: 1px solid rgb(241, 240, 240);
    padding-bottom: 0;
}
.grid img{
    width: 100%;
    height: 45%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.grid-text{
    margin: 15px;
}
.grid-text button{
    border-radius: 3px;
    border: 1px solid rgb(224, 215, 215);
    background-color:white;
    font-weight: 500;
    padding: 1% 2%;
}
.grid-text i{
    padding-right: 10%;
    color: grey;
    font-weight: 400;
}
/* end blog */

/* active button */
.active-btn{
    background-color: rgb(245, 9, 9);
    color: white;
}

/* start upcoming match */

.grid-img{
    display: flex;
    width: 40%;
    align-items: center;
    margin: 6%;
    padding-top: 5%;
    font-weight: 800;
}

.flag-text{
    text-align: center;
    padding-bottom: 5%;
}
.flag-text p{
    color: gray;
}
/* end upcoming match */

.view-all{
    display: none;
}

/* start footer */
footer{
    margin-top:50px;
    text-align: center;
    background-color:rgba(24, 22, 22, 0.979);
    color: white;
    width: 100%;
    height: 250px;
}
.footer-link{
    margin: 0 auto;
    width: 80%;
}
footer h1{
    padding-top: 50px;
    margin-bottom: 40px;
    font-family: 'Josefin Sans', sans-serif;
}
footer hr{
    margin-bottom: 40px;
    width: 90%;
    border: 1px solid rgb(43, 41, 41);
}
footer a{
    padding: 3%;
    text-decoration: none;
    color: rgb(160, 156, 156);
    font-weight: 600;
}
.footer-social{
    margin: 0 auto;
    width: 100%;
}
.footer-social i{
    font-size: 20px;
    padding: 10px 5px;
}
.footer-social i:hover{
    color: white;
}
/* end footer */

/* making responsive screen */
@media screen and (max-width: 992px) {   
    .header-item1 h1{
        padding: 0;
        margin-top: 2%;
        font-size: 35px;
    }
    .header-item1 p{
        margin-top: 0;
        padding-top: 0%;
        font-weight: 400;
        font-size: 20px;
    }
    .box-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr); 
    margin-bottom: 0;
    padding-bottom: 0;  
    }
    .box-nav{
        display: inline;
        margin: 0 auto;
        width: 100%;
        height:100%;
        background-color: white;
        text-align: center;
    }
    .container-blog{
        flex-direction: column;
    }
    .nav{
     padding: 0 10px;
    }
    .active-btn{
        justify-content:center;
        display: inline;
        border: 1px solid black;
        width: 1800px;
        font-size: 20px;
        font-weight: 600;
        padding: 10px 15px;
        border-radius: 5px;
        color: black;
    }
    .nav-btn{
        display: inline;
        border: 1px solid black;
        width: 180px;
        font-size: 20px;
        font-weight: 600;
        padding: 10px 15px;
        border-radius: 5px;
        color: black;
    }  
    .view-all{
        display: block;
        margin-top: 50px;
        text-align: center;
    }
    .view-all a{
        background-color: #DD0000;
        padding: 16px 25px;
        font-size: 20px;
        text-decoration: none;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 23px;
    } 

   

}
@media screen and (max-width: 662px) {
    .parent-header{
        display: block;
        border-radius: 10px;
        text-align: center;
    }
    .view-all{
        display: none;
    }

    .nav{
        margin:0 20%;
        
    }
    .nav-btn{
        border: 1px solid #e8e8e8 ;
        margin-bottom: 30px;
        width: 180px;
        font-size: 20px;
        font-weight: 600;
        padding: 10px 15px;
        border-radius: 5px;
        background-color: white;
        color: black;
        text-decoration: none;
        display: block
    
    }
    .active-btn{
        margin-bottom: 30px;
        width: 180px;
        font-size: 20px;
        font-weight: 600;
        padding: 10px 15px;
        border-radius: 5px;
        background-color: red;
        color: white;
        border: none;
        text-decoration: none;
        display: block
        
    }
    .header-item1{
        padding: 0;
        margin: 0 auto;
        height: 40%;
    }
    .header-item1 h1{
        padding: 0;
        margin-top: 27px;
        font-size: 20px;
    }
    .header-item1 p{
        font-size: 13px;
    }
    .header-item2{
        position: relative;
        top: 2px;
        margin: 0 15px;
        padding: 0;
        height: 327px;
    }
    .header-item2 img{

    }
    .box-grid{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        height: fit-content;
        }
        .grid{

        }
        .footer-link a{
            align-items: center;
            display: block;
        }
        footer{
            display: flex;
            flex-direction: column;
            margin-top:70%;
            padding-bottom: 60%;
        }
}

 
